/* Radix UI Component Styles */

/* Dark Mode Variables */
.dark {
  --switch-bg: #333;
  --switch-bg-checked: #44f;
  --switch-thumb: black;

  --slider-track: #333;
  --slider-range: #44f;
  --slider-thumb: black;
  --slider-thumb-border: #44f;
  --slider-thumb-hover: rgb(68, 68, 255);
  --slider-focus-ring: rgb(68, 68, 255, 0.5);
}

/* Light Mode Variables */
.light {
  --switch-bg: #ccc;
  --switch-bg-checked: #44f;
  --switch-thumb: white;

  --slider-track: #ccc;
  --slider-range: #44f;
  --slider-thumb: white;
  --slider-thumb-border: #44f;
  --slider-thumb-hover: #44f;
  --slider-focus-ring: rgb(68, 68, 255, 0.35);
}

/* Switch Component */
.switch-root {
  width: 42px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid var(--switch-bg);
  background-color: var(--switch-bg);
  position: relative;
  cursor: pointer;
}

/* Switch Styling */

.switch-root[data-state='checked'] {
  background-color: var(--switch-bg-checked);
  border-color: var(--switch-bg-checked);
}

.switch-thumb {
  background-color: var(--switch-thumb);
}

.switch-thumb {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  transition: transform 0.2s;
  will-change: transform;
}

.switch-root[data-state='checked'] .switch-thumb {
  transform: translateX(18px);
}

/* Slider Component */
.slider-root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.slider-track {
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 8px;
  background-color: var(--slider-track);
}

/* Slider Styling */

.slider-range {
  position: absolute;
  border-radius: 9999px;
  height: 100%;
  background-color: var(--slider-range);
}

.slider-thumb {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  cursor: pointer;
  background-color: var(--slider-thumb);
  border: 3px solid var(--slider-thumb-border);
}

.slider-thumb:hover {
  background-color: var(--slider-thumb-hover);
}

.slider-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--slider-focus-ring);
}

