.app {
  display: flex;
  height: 100vh;
  -webkit-app-region: drag;
}

.app.dark {
  background: #000;
  color: #fff;
}

.app.light {
  background: #fff;
  color: #000;
}

.controls-container {
  width: 250px;
  padding: 25px;
  overflow-y: auto;
  -webkit-app-region: no-drag;
  border-right: 1px solid #ddd;
}

.app.dark .controls-container {
  border-right: 1px solid #222;
}

.wave-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sine-wave-canvas {
  width: 100%;
  height: 100%;
}

